.react-calendar {
  border-radius: 1.5rem;
  border: 1px solid rgb(243,244,246)!important;
  padding: 16px;
  top: 48px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.react-calendar__navigation__arrow {
  border-radius: 50%;
  transition: .3s;
}

.react-calendar__navigation__label {
  border-radius: 1.5rem;
  transition: .3s;
}

.react-calendar__tile--now {
  background: rgb(220 252 231)!important;
}

.react-calendar__tile--active {
  background: rgb(31,41,55)!important;
}

@media (min-width: 768px) {
  .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: rgba(67,56,202)!important;
    color: #fff;
  }
}
