.us-section-home-blogs {
  padding-bottom: 64px;
  padding-top: 64px;
  margin-bottom: 0;
  margin-top: 40px;
}

.us-home-blogs-background {
  bottom: 0;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 100vw;
  transform: translate(-50%, 0) scale(1) 
}

@media (min-width: 1024px) {
  .us-section-home-blogs {
    margin-top: 64px;
  }
}
